
Document/document.aux
Document/document.bbl
Document/document.blg
Document/document.log
Document/document.out
Document/document.synctex.gz
Document/document.toc
LLMBenchmark/.idea/inspectionProfiles/profiles_settings.xml
LLMBenchmark/.idea/inspectionProfiles/Project_Default.xml
LLMBenchmark/.idea/LLMBenchmark.iml
/LLMBenchmark/.idea
